@font-face {
    font-family: 'Avenir Arabic';
    src: url('https://cdn.shopify.com/s/files/1/0742/2669/6436/files/AvenirArabic-Book.woff2') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0742/2669/6436/files/AvenirArabic-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Arabic';
    src: url('https://cdn.shopify.com/s/files/1/0742/2669/6436/files/AvenirArabic-Black.woff2') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0742/2669/6436/files/AvenirArabic-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Arabic';
    src: url('https://cdn.shopify.com/s/files/1/0742/2669/6436/files/AvenirArabic-Book.woff2') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0742/2669/6436/files/AvenirArabic-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Arabic';
    src: url('https://cdn.shopify.com/s/files/1/0742/2669/6436/files/AvenirArabic-Medium.woff2') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0742/2669/6436/files/AvenirArabic-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Arabic';
    src: url('AvenirArabic-Light.woff2') format('woff2'),
        url('AvenirArabic-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

body *{
    font-family: "Avenir Arabic" !important;
    text-align: right;
    direction: rtl;
}
.slide-heading .top, 
.slide-content .slide-heading span{
    font-weight: 900;
}
.flex-box__banner.row-reverse .content-box.text-left {
    padding-left: 40px;
}
.flex-box__banner.row-reverse .content-box.text-left {
    font-family: "Avenir Arabic" !important;
    text-align: right;
}
#halo-image-banner-template--19396943118580__image_banner_cwnjQq .banner-button {
    padding-left: 55px;
    padding-right: 20px;
}
.ml-5 {
    margin-right: 5px;
    margin-left: 0;
}
.list-social__item {
    margin: 0 15px 6px 15px;
}