@font-face {
    font-family: 'Avenir Arabic';
    src: url('https://cdn.shopify.com/s/files/1/0742/2669/6436/files/AvenirArabic-Book.woff2') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0742/2669/6436/files/AvenirArabic-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Arabic';
    src: url('https://cdn.shopify.com/s/files/1/0742/2669/6436/files/AvenirArabic-Black.woff2') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0742/2669/6436/files/AvenirArabic-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Arabic';
    src: url('https://cdn.shopify.com/s/files/1/0742/2669/6436/files/AvenirArabic-Medium.woff2') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0742/2669/6436/files/AvenirArabic-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Arabic';
    src: url('AvenirArabic-Light.woff2') format('woff2'),
        url('AvenirArabic-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

body *{
    font-family: "Avenir Arabic", sans-serif !important;
    direction: rtl;
}
.left, .text-left {
    text-align: right;
}
#halo-image-banner-template--19396943118580__image_banner_cwnjQq .item .banner-text,
#halo-image-banner-template--19396943118580__image_banner_mUejpe .item .banner-text{
 font-family: "Avenir Arabic", sans-serif !important;
}
.slide-heading .top, 
.slide-content .slide-heading span{
    font-weight: 900;
}
.flex-box__banner.row-reverse .content-box.text-left {
    padding-left: 40px;
}
.flex-box__banner.row-reverse .content-box.text-left,
 .item .banner-text {
    font-family: "Avenir Arabic" !important;
    text-align: right;
}
.rich-text__blocks h2, .slide-content .slide-heading, 
#halo-image-banner-template--19396941644020__16474839872eb210cf .item .banner-text {
        font-family: "Avenir Arabic" !important;
}
#halo-image-banner-template--19396943118580__image_banner_cwnjQq .banner-button {
    padding-left: 55px;
    padding-right: 20px;
}
.ml-5 {
    margin-right: 5px;
    margin-left: 0;
}
li.list-social__item:last-child {
    margin-right: 15px;
}
    .header-navigation .header-icons .stroke-icon svg {
        transform: scaleX(-1);
    }
    .header-nav-basic .header__icon--cart .cart-count-bubble {
        left: -10px;
        right: auto!important;
    }

.tab-panel-content .product.slider__slide.grid__item {
    border-left: 1px solid #A1A1A1;
  border-right: none!important;
}
.product-card-layout-08 .card-product .card-action .button.button-ATC, 
.product-card-layout-08 .card-product .card-action .button.product-form__submit {
    margin-right: 0;
    margin-left: 20px;
}
.product-card-layout-08 .product-item .card-product__group.group-right {
    left: 20px;
    right: auto;
}

.halo-banner-wrapper .flex-box__banner .content-box {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}
.add-sparkles h2 {
 padding-left: 30px;
    padding-right: 0;
}
.add-sparkles h2:after{
    left: -4px;
       right: auto;
}
.slick-dots li:last-child, .slider-dots li:last-child {
    margin-right: 7px;
}
    .featured-product .productView-top.style-2 .halo-productView-right {
        padding-left: 0;
        padding-right: 60px;
    }
.custom-service-block.service_block_style_3 .policies-content {
    text-align: right!important;
    left: 20px;
}
.productView-details .product-form__input .form__label {
    margin-right: 0 !important;
    margin-left: 25px;
}
.featured-product:has(.productView-nav.productView-horizontal-tabs) .productView-quantity .quantity__label {
    margin: 0 0 0 14px !important;
}

/**Begin btn flipping**/
.productView-groupTop .product-form__submit,
.product-infinite-scroll .button, #halo-image-banner-template--19396943118580__image_banner_mUejpe .banner-button,
.contact-support-btn,
#shopify-section-template--19396943118580__slide_show_FadCMd .slide-content .slide-button, 
.banner-button.button, .section-block-template--19396943118580__product_block_nEDnQ8 .product-infinite-scroll .button,
.contact-support-btn, .product-infinite-scroll .button,
.contact-support-btn, .button--secondary, .ai-banner-button-aajazafvwcu5wbnr2daigenblockdfb8083urbx48,
#custom-map-template--19396941873396__google-map .map-btn, 
#ContactSection-template--19396941873396__main .contact-item.contact-itemRight .contact-btn{
    padding-left: 50px!important;
    padding-right: 30px!important;
}

.slide-button:after, .banner-button:after, .productView-groupTop .product-form__submit:after,
.contact-support-btn:after, .button--secondary:after, .ai-banner-button-aajazafvwcu5wbnr2daigenblockdfb8083urbx48:after, 
.section-block-template--19396943118580__product_block_nEDnQ8 .product-infinite-scroll .button:after,
#custom-map-template--19396941873396__google-map .map-btn:after, #ContactSection-template--19396941873396__main .contact-item.contact-itemRight .contact-btn:after {
    left: 28px;
    right: auto !important;
}
/**End btn flipping**/
.banner-button.button,
#ContactSection-template--19396941873396__main .contact-item.contact-itemRight .contact-btn {

    text-align: right;
}
.faqs-item .card-header .icon-plus {
    left: 0 !important;
    right: auto !important;
}
.faqs .faqs-item .card-header .title {
    text-align: right;
}
.section-block-template--19396943118580__faqs_RfB3pw .halo-block-header.text-left .text,
.section-block-template--19396941644020__faqs_7F3bQ4 .halo-block-header.text-left .text {
    padding-left: 5rem!important;
    padding-right: 0!important;
}
#halo-image-banner-template--19396943118580__image_banner_N4xP8B .banner-button {
    max-width: max-content!important;
}
#ContactSection-template--19396941873396__main .contact-item.contact-itemRight .contact-btn:hover:after, .banner-button.button:hover:after{
        filter: brightness(0) invert(1);
}
.custom-service-block.service_block_style_3 .policies-content {
    text-align: right;
}
.halo-banner-wrapper .flex-box__banner .content-box{
    margin: 0;
}
h2.heading {
font-weight: 600;
}
.halo-banner-wrapper .item--smallImg .flex-box__banner .banner-content {
    margin-right: 30px;
}
.halo-banner-wrapper .item--smallImg .flex-box__banner.row-reverse .banner-content {
    margin-right: 0;
}
#halo-image-banner-template--19396943118580__image_banner_mUejpe .banner-button {
    width: 150px;
}
#shopify-section-template--19396943118580__faqs_RfB3pw .faq-container,
.contact-text-content {
    padding-right: 100px!important;
}
.custom-service-block.service_block_style_3 .policies-content {
    text-align: right;
}

.custom-service-block.service_block_style_3 .policies-content {
    text-align: right;
}

#shopify-section-template--19396941644020__main .about-content-wrapper h1 {
    padding-left: 0;
    paadding-right: 100px
}
.faqs-filterDropdown-text .icon-dropdown {
    right: auto!important;
    left: 2rem!important;
}
.faqs-filterLabel{
    margin:0 0 0 20px!important;
}

.faqs-filterDropdown-text {
    padding: 7px 20px 7px 38px!important;
}
    .faqs .faqs-item .card-header .title, .faqs .faqs-item .card-body, .faqs .faqs-item .halo-text-format {
        padding-left: 16px!impoortant;
    }
    .faqs .faqs-item .card-header .title {
    padding-left: 20px !important;
}
.contact-support-button-wrapper{
    margin-bottom: 70px;
}
.form-label, .field__label{
    text-align: right;
}
  .ai-banner-title-aajazafvwcu5wbnr2daigenblockdfb8083urbx48,
  .productView-details .product-form__input .form__label, 
  .previewCartTotals .previewCartTotals-label ,
  .cart-note .form-input {
        text-align: right!important;
    }
    .list-social__item {
    margin: 0 0 6px 15px;
}
    #ContactSection-template--19396941873396__main .contact-item.contact-itemRight .contact-btn{
        margin-right: 0;
    }
    .productView-quantity label {
    margin-right: 0 !important;
     margin-left: 10px !important;
}
.productView .price__regular {
    padding-left: 0 !important;
     padding-right: 22px !important;
}
.productView-wishlist {
    margin: 0 15px 0!important;
}
.productView-groupTop .productView-share.style-2 .share-button__button {
    padding: 14px 0 14px 15px !important;
}
.product-customInformation__icon {
    margin-left: 10px;
    margin-right: 0;
}

.cart-content-item[data-cart-content] {
    padding-left: 30px;
    padding-right: 0!important;
}
    .cart-item-block.cart-item-total {
        text-align: left!important;
        padding-left: 3px;  padding-right: 0!important;
    }
    .halo-top-language .icon {
    margin-left: 10px;
}
.announcement-text {
    padding-left: 0;
    padding-right: 20px;
}
.announcement-text:before {
    left: auto;
    right: 0;
}
.sidebarBlock-headingWrapper .sidebarBlock-heading:after {
    left: 12px !important;
       right: auto!important;
}
.quantity__style--1 .quantity__input {
    padding: 10px 38px 9px 20px!important;
}
.halo-sidebar.halo-sidebar-right .halo-sidebar-close {
    right: auto;
    left: 20px;
}
.auth-form.auth-form-2 .form-input {
    text-align: right;
}
.footer-1 .list-social__item {
    margin-left: 0;
}
#shopify-section-template--19396941644020__main .about-content-wrapper h1 {
   padding-right: 100px;
    padding-left: 0;
}
.facets__price--box .filter__price {
    padding: 12px 32px 12px 0!important;
    text-align: right;
}
.facets__item input[type=checkbox]+.form-label--checkbox {
    padding-right: 25px;
    padding-left: 0 !important;
    text-align: right;
}
input[type=checkbox]+.form-label--checkbox:before {
    left: auto;
    right: 0;
}
.float-r {
    float: left;
}
.search-modal__form .search__input {
    text-align: right;
}
    .product-card-layout-08 .card-action > form {
        margin-left: 20px;
        margin-right: auto;
    }
    .search-form .form-input {
    text-align: right;
}
.search-form .button {
    margin-right: 10px;
    margin-left: 0;
}


 .facets__price--box {
    /* flex-direction: row-reverse; */
}
@media all and (max-width: 767px){
    .faq-container {
        max-width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .tabs-contents .toggleLink{
        padding: 18px 0 18px 46px!important;
    } 
        .tabs-contents .toggleLink.popup-mobile .icon-dropdown, .tabs-contents .toggleLink.sidebar-mobile .icon-dropdown {
        transform: translateY(-50%) rotate(90deg)!important;
        right: auto;
        left: 0;
    }
}
@media (min-width: 1350px) {
    .contact.contact-2 .contact-item.contact-itemRight {
        margin-left: 0!important;
        margin-right: 62px;
    }
    .product-card-layout-08 .card-action>form {
        margin-left: 20px;
        margin-right: auto;
    }
}
}
