 body {
  font-family: 'Tajawal', sans-serif;
  direction: rtl;
  text-align: right;
}
.tab-panel-content .product.slider__slide.grid__item {
    border-left: 1px solid #A1A1A1;
  border-right: none;
}
.product-card-layout-08 .card-product .card-action .button.button-ATC, 
.product-card-layout-08 .card-product .card-action .button.product-form__submit {
    margin-right: 0;
    margin-left: 20px;
}
.product-card-layout-08 .product-item .card-product__group.group-right {
    left: 20px;
    right: auto;
}
.slide-button:after, .banner-button:after, .productView-groupTop .product-form__submit:after {
    left: 28px;
    right: auto;
}