.slide-content .slide-button{
    padding-inline-end: 50px;    
    height: 40px;
} 
.contact-support-btn{
position: relative;
    border-radius: 30px;
    padding-left: 25px !important;
}
.contact-support-btn:after {
    content: "";
    background-image: url(/cdn/shop/files/button-icon.svg?v=1746020835);
    background-repeat: no-repeat;
    position: absolute;
    right: 28px;
    top: 13px;
    width: 14px;
    height: 17px;
}
.contact-support-btn:hover:after {
    filter: brightness(0) invert(1);
}
.faqs .faqs-item .card-header .title {
    padding-right: 20px !important;
}
.faqs-message-and-questions {
    gap: 0!important;
    width: 100%;
}
#FaqsSection-template--19396941971700__main .faqs-row{
    width: 100%!important;
}
#ContactSection-template--19396941873396__main .contact-item.contact-itemRight .contact-btn {
    padding-left: 35px !important;
    margin-bottom: 30px;
    text-align: left;
}
 #ContactSection-template--19396941873396__main .contact-item.contact-itemRight .contact-btn:after{
    filter: brightness(0) invert(1);
 }
  #ContactSection-template--19396941873396__main .contact-item.contact-itemRight .contact-btn:hover:after{
    filter: none;
 }