@font-face {
    font-family: 'Gilroy Extra Bold';
    src: url("Gilroy-ExtraBold.woff2") format('woff2'),
        url("Gilroy-ExtraBold.woff") format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy Light';
    src: url("Gilroy-Light.woff2") format('woff2'),
        url("Gilroy-Light.woff") format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Gilroy Extra Bold' !important;
}

h1,
h2,
h3,
h4,
h5,
.h0,
.h1,
.h2,
.h3,
.h4,
.h5,
.menu-lv-item a,
.banner-sub-title,
.banner-text {
    font-family: 'Gilroy Extra Bold' !important;
}

.site-nav-sub .site-nav-link {
    font-family: 'Gilroy Light' !important;
}

.brand__custom--tab ul li {
    border-radius: 100px;
    border: 1px solid #A7CFBE;
    background: #FFF7E5;
    padding: 9px 30px 6px 30px !important;
    line-height: initial !important;
    margin-right: 20px;
}

.brand__custom--tab ul li:last-child {
    margin-right: 0;
}

.brand__custom--tab ul li.active a {
    border-bottom: 2px solid transparent;
}

.brand__custom--tab ul li.active [tab-title-action] {
    border-color:
        transparent !important;
}

.brand__custom--tab ul li.active {
    border: 1px solid #005339;

}

.brand__custom--tab ul li a {
    font-family: 'Gilroy Extra Bold';
    line-height: normal;
}

.tab-panel-content .products-grid-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.tab-panel-content .product.slider__slide.grid__item {
    padding-right: 10px;
    padding-left: 10px;
    width: 25%;
    border-right: 1px solid #A1A1A1;
    margin-bottom: 30px;
}

.tab-panel-content .product.slider__slide.grid__item:nth-child(4n + 4) {
    border-right: 1px solid transparent;
}

.brand-tab-block {
    border-top: 1px solid transparent !important;
}

.card-title {
    font-family: 'Gilroy Extra Bold';
    text-align: center;
}

.price {
    text-align: center;
    color: #7C7C7C;
    font-family: 'Gilroy Extra Bold';
}

.card-information__wrapper.text-left .card-price {
    justify-content: center;
    padding-top: 5px;
}

.add-sparkles h2 {
    display: inline-block;
    font-family: 'Gilroy Extra Bold' !important;
    position: relative;
    padding-right: 30px;
}

.add-sparkles h2::after {
    content: "";
    background-image: url("https://cdn.shopify.com/s/files/1/0742/2669/6436/files/sparkle-shape.svg?v=1745848335");
    background-repeat: no-repeat;
    position: absolute;
    right: -4px;
    top: -7px;
    width: 25px;
    height: 30px;
}

.slide-content .slide-sub {
    font-family: 'Gilroy Extra Bold' !important;
    text-transform: uppercase;
}

.slide-content .slide-heading {
    font-family: 'Gilroy Extra Bold' !important;
    text-transform: capitalize;
}

.site-nav.dropdown {
    padding-left: 0 !important;
}

.menu-dropdown {
    max-height: 100vh;
}

.menu-dropdown__wrapper {
    padding: 30px 0 12px;
}

.megamenu_style_4 .site-nav-banner .site-nav-banner--item {
    flex:
        0 0 50% !important;
    max-width: 50% !important;
}

.custom-featured-products .card-title,
.custom-featured-products .price-item {
    font-size: 12px !important;
}

.custom-featured-products .brand__custom--tab .button {
    background: #4dac8b;
}

.fluid-width-video-wrapper {
    position: relative;
}

.fluid-width-video-wrapper::before {
    content: "";
    position: absolute;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    z-index: 1;
}

.slide-button,
.banner-button {
    position: relative;
    font-family: 'Gilroy Extra Bold';
}

.banner-button.button {
    text-align: left;
    padding-left: 28px;
}

.slide-button.green {
    color: #005339;
}

.slide-button::after,
.banner-button::after,
.productView-groupTop .product-form__submit::after {
    content: "";
    background-image: url("https://cdn.shopify.com/s/files/1/0742/2669/6436/files/button-icon.svg?v=1746020835");
    background-repeat: no-repeat;
    position: absolute;
    right: 28px;
    top: 13px;
    width: 14px;
    height: 17px;
}

.banner-button:hover::after {
    border: unset !important;
}

.recipes-blog-section .article-card__image-wrapper a {
    max-width: 245px !important;
    margin: auto;
    text-align: center;
    height: 416px;
}

.article-card__footer {
    margin-top: 12px !important;
}

.recipes-blog-section .halo-item {
    border-right: 1px solid #A1A1A1;
}

.recipes-blog-section .halo-item:last-child {
    border-right: 1px solid transparent;
}


.spotlight-products__item--product {
    /* width: calc(801/1835 * 100%) !important; */
    padding-left: 4% !important;
    padding-top: 0 !important
}


.spotlight-products__item--lookbook_banner {
    width: calc(1025/1835 * 100%) !important;
}

.spotlight-products__item--product .view-details {
    display: none !important;
}

.spotlight-products__item--product .slick-dots {
    position: absolute;
    top: -67px;
    left: 0;
    width: auto;
}

.spotlight-products__item--product .slick-list {
    margin-top: 75px;
}

.spotlight-products__item--product .slick-dots li.slick-active button {
    background: #005339;
    border-color: #005339;
}

.spotlight-products__products--slider .card {
    display: flex;
    align-items: center;
}

.spotlight-products__products--slider .card-product {
    width: 165px;
    margin-right: 50px;
}

.spotlight-products__item .subtitle {
    color: #EF6532;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.1px;
    margin-top: 0 !important;
}

.spotlight-products__products--slider .card-title {
    text-align: left;
}

.spotlight-products__products--slider .card-price {
    justify-content: initial !important;
}

.spotlight-products__item--product .slick-dots li.slick-active button {
    width: 14px !important;
    height: 14px !important;
}

.spotlight-products__wrapper {
    align-items: initial !important;
}

.spotlight-products__product .card-action .button {
    background: #4dac8b;
}

.spotlight-products__product-button {
    width: 163px;
}

.spotlight-products__product-button a {
    text-align: left;
    padding-left: 22px;
}

.brand-layout--slider {
    border-top: 1px solid #005339;
    border-bottom: 1px solid #005339;
    padding-top: 1px;
    padding-bottom: 1px;
}

.brand-layout--slider .adaptive_height {
    padding-top: 59% !important;
}

.halo-banner.image-banner {
    background: #FDF7EB !important;
    position: relative;
}

.banner-content {
    z-index: 2;
}

.halo-banner.image-banner::after {
    content: "";
    background-image: url("https://cdn.shopify.com/s/files/1/0742/2669/6436/files/Frame_104.svg?v=1746538274");
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 0;
    width: 715px;
    height: 778px;
}

.productView-details .product-form__input,
.productView-quantity.quantity__group.quantity__group--2.quantity__style--1.clearfix {
    display: flex;
    align-items: center;
}

.productView-details .product-form__input .form__label span {
    display: none;
}

.productView-details .product-form__input .form__label {
    margin-right: 20px !important;
    width: auto;
}

.productView-details .product-form__input .select__select {
    border-radius: 1px !important;
    background-color: transparent !important;
    border: 1px solid #005339;
    font-family: 'Gilroy Extra Bold';
}

.productView-quantity label {
    margin-right: 20px !important;
    width: auto !important;
}

.productView-quantity input {
    border-radius: 1px !important;
    border: 1px solid #005339;
    color: #005339 !important;
    font-family: 'Gilroy Extra Bold';
}

.productView-groupTop {
    width: auto !important;
}

.productView-groupTop .product-form__submit {
    padding-left: 30px;
    padding-right: 50px;
    position: relative;
}

.featured-product .productView-wishlist,
.featured-product .share-button {
    display: none;
}

@media (min-width: 1025px) {
    .brand__custom--tab ul li [tab-title-action]:hover {
        border-color:
            transparent !important;
    }

    .has-megamenu .menu-dropdown__banner .background-bottom,
    .has-megamenu .menu-dropdown__banner .background-bottom::before,
    .has-megamenu .menu-dropdown__banner .background-bottom::after {
        background-color: #FBF9F3 !important;
    }

    .menu-lv-item.has-megamenu:hover>.menu-dropdown {
        transform: translateY(7px) !important
    }

    .menu-dropdown {
        box-shadow: unset !important;
        border-top:
            1px solid #DDD !important;
    }

    .megamenu_style_4 .site-nav-banner {
        padding:
            0 15px 40px 15px !important;
    }

    .custom-featured-products .card .card-action .button:hover .icon,
    .custom-featured-products .card .card-quickview:hover .icon,
    .custom-featured-products .card .card-wishlist:hover .icon {
        animation: unset !important;
    }

    .spotlight-products__item .halo-block-header .title .text {
        max-width: 213px !important;
        min-width: 213px !important;
    }
}

@media only screen and (max-width: 1025px) {
    .custom-featured-products {
        display: none;
    }
}

@media only screen and (max-width:991px) {
    .spotlight-products__item--lookbook_banner {
        width: 100% !important;
    }
}

@media (min-width: 768px) {
    .spotlight-products__product {
        background: #FDF7EB !important;
    }
}

@media only screen and (max-width: 479px) {
    .recipes-blog-section .halo-item {
        border-right: 1px solid transparent;
    }
}