@font-face {
    font-family: 'Avenir Arabic';
    src: url('https://cdn.shopify.com/s/files/1/0742/2669/6436/files/AvenirArabic-Book.woff2') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0742/2669/6436/files/AvenirArabic-Book.woff?v=1758032258') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Arabic';
    src: url('AvenirArabic-Black.woff2') format('woff2'),
        url('AvenirArabic-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Arabic';
    src: url('AvenirArabic-Book.woff2') format('woff2'),
        url('AvenirArabic-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Arabic';
    src: url('AvenirArabic-Medium.woff2') format('woff2'),
        url('AvenirArabic-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Arabic';
    src: url('AvenirArabic-Light.woff2') format('woff2'),
        url('AvenirArabic-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

body *{
         font-family: "Avenir Arabic" !important;
}