.slide-content .slide-button{
    padding-inline-end: 50px;    
    height: 40px;
} 
.contact-support-btn{
    position: relative;
}
.contact-support-btn:after {
    content: "";
    background-image: url(/cdn/shop/files/button-icon.svg?v=1746020835);
    background-repeat: no-repeat;
    position: absolute;
    right: 28px;
    top: 13px;
    width: 14px;
    height: 17px;
}