    .halo-banner-wrapper .item--smallImg .flex-box__banner .banner-content {
        width: calc(100% - var(--image_width));
        margin-left: 30px;
    }
#halo-image-banner-template--19396943118580__image_banner_cwnjQq .banner-button {
 width: auto !important;
    max-width: max-content !important;
    padding-right: 55px;
}

#halo-image-banner-template--19396943118580__image_banner_cwnjQq{
    margin-top: 0;    
    background-size: 50%!important;
    background-repeat: no-repeat!important;
    background-color: #FFF7E5!important;
}
.flex-box__banner.row-reverse .content-box.text-left{
    margin-left: 0;
    padding-left: 40px;
}
.slide-content .slide-button{
    padding-inline-end: 50px;    
    height: 40px;
} 
.contact-support-btn, 
 .button--secondary, .ai-banner-button-aajazafvwcu5wbnr2daigenblockdfb8083urbx48{
position: relative;
    border-radius: 30px;
    padding-left: 25px !important;
}
.contact-support-btn:after,
 .button--secondary:after, .ai-banner-button-aajazafvwcu5wbnr2daigenblockdfb8083urbx48:after {
    content: "";
    background-image: url(/cdn/shop/files/button-icon.svg?v=1746020835);
    background-repeat: no-repeat;
    position: absolute;
    right: 28px;
    top: 13px;
    width: 14px;
    height: 17px;
}
.contact-support-btn:hover:after,
#halo-image-banner-template--19396943118580__image_banner_cwnjQq .banner-button:hover:after,
 .button--secondary:hover:after,
 #halo-image-banner-template--19396943118580__image_banner_N4xP8B .banner-button:hover:after,
 .ai-banner-button-aajazafvwcu5wbnr2daigenblockdfb8083urbx48:hover:after {
    filter: brightness(0) invert(1);
}
.faqs .faqs-item .card-header .title {
    padding-right: 20px !important;
}
.faqs-message-and-questions {
    gap: 0!important;
    width: 100%;
}
#FaqsSection-template--19396941971700__main .faqs-row{
    width: 100%!important;
}
#ContactSection-template--19396941873396__main .contact-item.contact-itemRight .contact-btn {
    padding-left: 35px !important;
    margin-bottom: 30px;
    text-align: left;
}
 #ContactSection-template--19396941873396__main .contact-item.contact-itemRight .contact-btn:after{
    filter: brightness(0) invert(1);
 }
  #ContactSection-template--19396941873396__main .contact-item.contact-itemRight .contact-btn:hover:after,
  .banner-button.button:hover:after{
    filter: none;
 }
 .contact-store+.contact-store {
    margin-top: 0!important;
}
.halo-banner.image-banner{
    margin-top: 50px;
}
    .header-minimal .header-language_currency {
        padding: 10px 0 10px 12px;
        margin-right: 0;
    }
    .halo-top-language .text {
    margin-right: 0;
}
.product-infinite-scroll .button {
    padding-right: 55px;
    max-width: max-content!important;
}
.productView-details.halo-productView-right .productView-quantity.quantity__group.quantity__group--2.quantity__style--1.clearfix{
    display: flex!important;
    align-item: center!important;
}
.form-label.quantity__label{
    margin-bottom: 0!important;
    padding-bottom: 0!important;
    color:#005339!important;
}
.productView-details .product-form__input .select__select {
    box-shadow: none;
}
    .section-block-template--19396943118580__slide_show_6CHbXC {
        padding-top: 50px!important;
    }
    .productView-quantity label {
    margin-right: 10px !important;
    width: auto !important;
}
.featured-product:has(.productView-nav.productView-horizontal-tabs) .productView-quantity .quantity__label,
.productView-details.halo-productView-right .quantity__label,
.productView-info-name {
    color: #005339 !important;
}
.template-index {
    background-color: #FFF7E5;
}
.section-block-template--19396943118580__faqs_RfB3pw{
    background-color: #FFF;
}
#shopify-section-template--19396941644020__main .about-content-wrapper h1,
#ContactSection-template--19396941873396__main .image-container .page-header {
    font-size: 60px;
    margin-bottom: 30px;
    text-transform: capitalize;
}
.slide-block-image_M9rGXy .slide-content {
    padding-bottom: 0!important;
     margin-top: 0; 
    padding-left: 0;
}
.flex-box__banner.row-reverse .content-box.text-left {
    padding-left: 0;
}
.halo-banner-wrapper .item--smallImg .flex-box__banner .banner-content {
    margin-left: 0;
}

.halo-quick-view-popup .product-form__input .form__select {
    margin: 0;
}
.halo-quick-view-popup .halo-quickView .quantity_selector,
.productView-options {
    margin-bottom: 20px;
}
.halo-quick-view-popup .halo-quickView .product-form__input .form__label {
    margin-bottom: 0;
    font-size: 16px;
    margin-right: 15px !important;
}
.productView-details.halo-productView-right .quantity__label {
    padding-bottom: 0px !important;

}
.productView-details .product-form__input .form__label
 {
   
    font-size: 16px;
}
#halo-image-banner-template--19396941644020__16473179044a870c08,
#shopify-section-template--19396941644020__1647339296880bf6ed .halo-banner.image-banner {
    margin-top: 0;
}
.style-arrows-9.product-card-layout-08 .wrapper-body {
    padding-bottom: 0;
}
.template-cart  .cart-content-wrapper {
    padding-bottom: 50px;
}
.ai-banner-title-aajazafvwcu5wbnr2daigenblockdfb8083urbx48{
    color: #FFF;
    text-align: left;
    width: 80%;
}
.ai-banner-content-aajazafvwcu5wbnr2daigenblockdfb8083urbx48 {
display: flex;
    height: 100%;
    align-items: start;
    flex-direction: column;
    justify-content: end;
}
.ai-banner-button-aajazafvwcu5wbnr2daigenblockdfb8083urbx48 {
    background-color: #005339;
    border-radius: 30px!important;
    border: 0px solid #005339;
    text-transform: none;
    padding-right: 40px;
}
@media all and (max-width: 767px){
        .halo-banner-wrapper .item--smallImg .flex-box__banner .banner-content {
            width: 100%;
        }
        .sections-image-banner-block .halo-banner-wrapper .flex-box__banner .content-box{
            padding: 20px 0;
        }
        #halo-image-banner-template--19396943118580__image_banner_mUejpe .container-full {
            padding-left: 20px!important;
            padding-right: 20px!important;
        }
        .faqs-images-wrapper {
            margin-top: 40px;
        }
        .halo-banner-wrapper {
            padding-left: 30px;
            padding-right: 30px;
        }
        #shopify-section-template--19396943118580__image_banner_N4xP8B .halo-banner-wrapper .image {
            display: none;
        }
        #shopify-section-template--19396943118580__image_banner_N4xP8B .halo-banner-wrapper {
            padding-left: 30px!important;
            padding-right: 30px!important;
        }
        .footer__content-top {
            padding: 30px 0 30px;
        }
        .footer-block__mobile {
            display: none;
        }
        .adaptive_height.image.slide-mobile {
            padding-top: 100%!important;
                }
                    #shopify-section-template--19396943118580__slide_show_FadCMd .content-box--absolute {
    
        bottom: 40px!important;
    }
    .quantity_selector,
    .section-block-template--19396940988660__product-recently-viewed{
        margin-bottom: 30px;
    }
        #CollectionSection-template--19396942495988__product-grid {
        padding-top: 0!important;
    }
    .breadcrumb-bg .breadcrumb-container {
        display: none;
    }
    .productView-container,
    .productView-bottom,
    .halo-recently-viewed-block {
        padding-left: 20px;
        padding-right: 20px;
    }
    .product-customInformation {
    margin-top: 20px;
}
}
